
.title h1{
    color: black;
}
.element p{
    color: black;
}
.element{
    padding: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    border: solid;
    border-width: 1px;
    align-items: center;
}
.nameE{
    color: var(--text-color);
    font-size: 40px;
}
.req{

    background-color: rgb(255, 174, 0);
    width: 98px;
    height: 26px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px ;
}
.req h1{
    font-size: 16px;
}
.cancel button{
    background-color: rgb(170, 83, 83);
    width: 98px;
    height: 26px;
    border-radius: 20px;
    cursor: pointer;
}